extends ./layout.pug
include _tableMixins

mixin rows(assets)
  - const t = translations || {}
  each asset in assets
    tr
      td.url.assetsurl(data-title=(t && t['table.url']) ? t['table.url'] : 'URL')
        a(href=asset.url)= h.shortAsset(asset.url)
        | &nbsp;
        a(href=asset.page + 'index.html') &circlearrowleft;
      td(data-title=(t && t['table.type']) ? t['table.type'] : 'type')= asset.type
      +durationCell((t && t['table.lastModified']) ? t['table.lastModified'] : 'last modified',asset.lastModification)
      +durationCell((t && t['table.cacheTime']) ? t['table.cacheTime'] : 'cache time',asset.cacheTime)
      +kbSizeCell((t && t['table.size']) ? t['table.size'] : 'size', asset.size)
      +numberCell((t && t['table.count']) ? t['table.count'] : 'count', asset.requestCount)
block content
  - const t = translations || {}
  include runInfo
  if fullCount > 0
    if count < fullCount
      div Showing top #{count} assets out of #{fullCount}
    else
      div Showing all #{fullCount} assets

    .responsive
      table(data-sortable, id='assets')
        +rowHeading([t['table.url'] || 'url', t['table.type'] || 'type', t['table.lastModified'] || 'time since last modified', t['table.cacheTime'] || 'cache time', t['table.size'] || 'size (kb)', t['table.count'] || 'count'])
        +rows(topAssets)
  else
    p We are missing assets metrics, the HAR was not created.
